WebContent/wsdl/MainProc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.itsv" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.itsv" xmlns:intf="http://server.itsv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.itsv" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addToStdString">
    <complexType>
     <sequence>
      <element name="param" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToStdStringResponse">
    <complexType>
     <sequence>
      <element name="addToStdStringReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addToStdStringRequest">

      <wsdl:part element="impl:addToStdString" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToStdStringResponse">

      <wsdl:part element="impl:addToStdStringResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MainProc">

      <wsdl:operation name="addToStdString">

         <wsdl:input message="impl:addToStdStringRequest" name="addToStdStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToStdStringResponse" name="addToStdStringResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MainProcSoapBinding" type="impl:MainProc">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addToStdString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToStdStringRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToStdStringResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MainProcService">

      <wsdl:port binding="impl:MainProcSoapBinding" name="MainProc">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProj/services/MainProc"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
